<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="corpo">
    <h1>Lista de Pets</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Nome</th>
            <th>Raça</th>
            <th>Castrado</th>
        </tr>
        <tr th:each="lista:${lista}">
            <td th:text="${lista.nome}"></td>
            <td th:text="${lista.raca}"></td>
            <td th:text="${lista.castrado?'Sim':'Não'}"></td>
        </tr>
    </table>
</div>
</body>
</html>